.add-quiz-page {
    background-image: url('https://example.com/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  .add-quiz-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .add-quiz-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(2, 2, 2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .text-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .text-input-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .text-input-field {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .text-input-field:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    width: 100%;
    padding: 0.5rem;
    border:10cm;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .form-submit-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: black
  }  